// Contribute
//
// Style guide: Components.contribute
@use "sass:math";

.c-contribute__cta {
	background-color: $color-yellow-tint;
	outline: $border-thicker solid $color-yellow-tint;
	display: inline-block;
	font-family: $font-family-secondary;
	font-size: $font-size-body-medium;
	line-height: $line-height-tight;
	padding: 0.25rem 1rem;
	margin-left: -1rem;
	width: math.div($global-type-measure, 2);
}
